<div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        {{#if @site.logo}}
        <a class="navbar-item" href="{{@site.url}}">
        <img src="{{@site.logo}}" height="28">
        </a>
        {{/if}}

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasic" class="navbar-menu">
        <div class="navbar-start">
            {{#foreach navigation}}
                <a class="navbar-item" href="{{url absolute="true"}}">{{label}}</a>
            {{/foreach}}
        </div>
  </div>
</nav>
</div>